:root.theme-dark {
  --cover-image-url: url(../images/cover-image-dark.png);
  --bg-cover-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --hero-color: #db00ff;
  --title-color: #000028;
  --outline-hover: rgba(255, 0, 112, 0.4);
  --heading-color: #ff0070;
}
