:root.theme-light {
  --cover-image-url: url(../images/cover-image-light.png);
  --bg-cover-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --outline-hover: rgba(50, 49, 45, 0.4);
  --hero-color: #ffc2e6;
  --title-color: #353430;
  --heading-color: #353430;
}

.theme-light .record-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image-url: url(../images/cover-image-light.png);
    --bg-cover-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --outline-hover: rgba(50, 49, 45, 0.4);
    --hero-color: #ffc2e6;
    --title-color: #353430;
    --heading-color: #353430;
  }

  .theme-auto .record-icon {
    display: none;
  }
}
