:root {
  --cover-image-url: url(../images/cover-image-dark.png); /*TODO: какая начальная картинка? Обычная или с темной темой? */
  --bg-cover-color: #000028;
  --text-size: 18px;
  --text-family: "IBM Plex mono", serif;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --hero-color: #db00ff;
  --title-color: #000028;
  --base-padding: 10px;
  --outline-hover: rgba(255, 0, 112, 0.4);
  --heading-color: #ff0070;
}
