/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --opacity: 1;
  --cover-image-url: url(../images/cover-image.png); /*TODO: какая начальная картинка? Обычная или с темной темой? */
  --bg-cover-color: #000028;
  --text-size: 18px;
  --text-family: 'IBM Plex mono', serif;
  --accent-color: rgba(255, 0, 112, var(--opacity));
  --text-color: #F1B2CE;
  --hero-color: #DB00FF;
  --title-color: #000028;
  /*TODO: Отступы тоже перевести в переменные*/
}